.embeddable-buttondown-form {
    display: flex;
    justify-content: center;
    max-width: 14rem;
    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: .5rem;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    height: 2rem;
    padding: 1rem 0;
}
