.landing-title {
  border-bottom: solid grey 1px;
  padding-bottom: 1rem;
}

.featured-image {
  min-width: 300px;
}

.homepage-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

ul.recent-ul {
  list-style: none;
  margin-top: 1rem;
  padding-left: 0;
}

.recent-li {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 1rem 0;
    padding: 2rem 0;
    border-bottom: solid grey 1px;

    .section > .desc > h3 {
      max-width: 400px;
    }

    .section > .desc > h3 > a {
      background-color: transparent;
    }

    .section > .meta {
      margin: 0 0 0.5rem 0;
      opacity: 0.6;
    }
  }