@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.center > .popover-hint > p {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.section-description {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}


.landing-title {
  border-bottom: solid grey 1px;
  padding-bottom: 1rem;
}

.featured-image {
  display: flex;
  justify-content: center;
  width: 400px;
}

.homepage-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

ul.recent-ul {
  list-style: none;
  margin-top: 1rem;
  padding-left: 0;
}

.sidebar.left {
  justify-content: center;
}

.breadcrumb-container {
  justify-content: center;
}

.embedded-video {
  display: block;
  margin: auto;
  padding: 1rem 0;
}

.note-image-styling {
  display: block;
  margin: auto;
  max-width: 80%;
  height: auto;
  padding: 1rem 0;
}

@media (min-width: 850px) {
  .page > #quartz-body {
    padding: 0 2rem;
  }

  .graph {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .page > #quartz-body .page-listing {
    display: grid;
  }

  .page > #quartz-body .page-listing, .page > #quartz-body article, .page > #quartz-body footer, .page > #quartz-body .page-footer, .page > #quartz-body .right-sidebar {
    min-width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .article-title, .content-meta, .tags {
    min-width: 60%;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .article-desc {
      min-width: 60%;
      max-width: 60%;
  }
}

@media (min-width: 1100px) {
  .page > #quartz-body .page-header, .page > #quartz-body .sidebar.left, .page > #quartz-body .page-listing {
    min-width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}

@media (max-width: 850px) {
  header {
    flex-wrap: wrap;
  }

  #links-header-container {
    order: -1;
  }
}

@media (max-width: 600px) {
  .section {
    min-width: 400px;
  }
}

.recent-li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem 0;
  border-bottom: solid grey 1px;

  .section > .desc > h3 {
    max-width: 400px;
  }

  .section > .desc > h3 > a {
    background-color: transparent;
  }

  .section > .meta {
    margin: 0 0 0.5rem 0;
    opacity: 0.6;
  }
}

@media (max-width: 700px) {
  .recent-li {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}